.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# various other potential build files
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# JetBrains Fleet
.fleet/

# Linux temp files
*~

# other stuff
run/
logs/
config/
crash-reports/
world*/
eula.txt
server.properties
banned-*
ops.json
usercache.json
whitelist.json
permissions.yml
bukkit.yml
commands.yml
help.yml
spigot.yml
start.sh
ametystkq.jsa
plugins/

!gradle/wrapper/gradle-wrapper.jar

test-plugin.settings.gradle.kts
paper-generator.settings.gradle.kts

# Don't track patched vanilla submodules
paper-server/src/minecraft/
